[Unit]
Description=HackerOS Hacker Mode Wayland Compositor
After=systemd-user-sessions.service
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/local/bin/hm-compositor
Restart=on-failure
RestartSec=3
Environment=XDG_RUNTIME_DIR=/run/user/%U
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%U/bus

[Install]
WantedBy=graphical-session.target
