[Unit]
Description=HackerOS Hacker Mode Gaming Environment
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/hackeros-hm
Restart=on-failure
RestartSec=2
Environment=XDG_SESSION_TYPE=wayland
Environment=WAYLAND_DISPLAY=wayland-hm
Environment=DISPLAY=:0

[Install]
WantedBy=graphical-session.target
